// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-address-2-name: 's-address-2';
$s-address-2-x: 32px;
$s-address-2-y: 0px;
$s-address-2-offset-x: -32px;
$s-address-2-offset-y: 0px;
$s-address-2-width: 12px;
$s-address-2-height: 16px;
$s-address-2-total-width: 56px;
$s-address-2-total-height: 43px;
$s-address-2-image: 'sprite.png';
$s-address-2: (32px, 0px, -32px, 0px, 12px, 16px, 56px, 43px, 'sprite.png', 's-address-2', );
$s-address-name: 's-address';
$s-address-x: 0px;
$s-address-y: 27px;
$s-address-offset-x: 0px;
$s-address-offset-y: -27px;
$s-address-width: 12px;
$s-address-height: 16px;
$s-address-total-width: 56px;
$s-address-total-height: 43px;
$s-address-image: 'sprite.png';
$s-address: (0px, 27px, 0px, -27px, 12px, 16px, 56px, 43px, 'sprite.png', 's-address', );
$s-email-2-name: 's-email-2';
$s-email-2-x: 32px;
$s-email-2-y: 17px;
$s-email-2-offset-x: -32px;
$s-email-2-offset-y: -17px;
$s-email-2-width: 11px;
$s-email-2-height: 8px;
$s-email-2-total-width: 56px;
$s-email-2-total-height: 43px;
$s-email-2-image: 'sprite.png';
$s-email-2: (32px, 17px, -32px, -17px, 11px, 8px, 56px, 43px, 'sprite.png', 's-email-2', );
$s-email-name: 's-email';
$s-email-x: 45px;
$s-email-y: 0px;
$s-email-offset-x: -45px;
$s-email-offset-y: 0px;
$s-email-width: 11px;
$s-email-height: 8px;
$s-email-total-width: 56px;
$s-email-total-height: 43px;
$s-email-image: 'sprite.png';
$s-email: (45px, 0px, -45px, 0px, 11px, 8px, 56px, 43px, 'sprite.png', 's-email', );
$s-next-1-name: 's-next_1';
$s-next-1-x: 0px;
$s-next-1-y: 0px;
$s-next-1-offset-x: 0px;
$s-next-1-offset-y: 0px;
$s-next-1-width: 15px;
$s-next-1-height: 26px;
$s-next-1-total-width: 56px;
$s-next-1-total-height: 43px;
$s-next-1-image: 'sprite.png';
$s-next-1: (0px, 0px, 0px, 0px, 15px, 26px, 56px, 43px, 'sprite.png', 's-next_1', );
$s-phone-2-name: 's-phone-2';
$s-phone-2-x: 13px;
$s-phone-2-y: 27px;
$s-phone-2-offset-x: -13px;
$s-phone-2-offset-y: -27px;
$s-phone-2-width: 13px;
$s-phone-2-height: 13px;
$s-phone-2-total-width: 56px;
$s-phone-2-total-height: 43px;
$s-phone-2-image: 'sprite.png';
$s-phone-2: (13px, 27px, -13px, -27px, 13px, 13px, 56px, 43px, 'sprite.png', 's-phone-2', );
$s-phone-name: 's-phone';
$s-phone-x: 27px;
$s-phone-y: 27px;
$s-phone-offset-x: -27px;
$s-phone-offset-y: -27px;
$s-phone-width: 13px;
$s-phone-height: 13px;
$s-phone-total-width: 56px;
$s-phone-total-height: 43px;
$s-phone-image: 'sprite.png';
$s-phone: (27px, 27px, -27px, -27px, 13px, 13px, 56px, 43px, 'sprite.png', 's-phone', );
$s-prev-1-name: 's-prev_1';
$s-prev-1-x: 16px;
$s-prev-1-y: 0px;
$s-prev-1-offset-x: -16px;
$s-prev-1-offset-y: 0px;
$s-prev-1-width: 15px;
$s-prev-1-height: 26px;
$s-prev-1-total-width: 56px;
$s-prev-1-total-height: 43px;
$s-prev-1-image: 'sprite.png';
$s-prev-1: (16px, 0px, -16px, 0px, 15px, 26px, 56px, 43px, 'sprite.png', 's-prev_1', );
$spritesheet-width: 56px;
$spritesheet-height: 43px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-address-2, $s-address, $s-email-2, $s-email, $s-next-1, $s-phone-2, $s-phone, $s-prev-1, );
$spritesheet: (56px, 43px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
