@import "reset";
@import "fonts";
@import "vars";
@import "mix";
@import "sprite";
@import "keyframes";

body {
    background-color: #fff;
    font-weight: 400;
    font-family: $default-font;
    color: $all-color;
    font-size: 1.4rem;
    line-height: 1;
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
.siteWidth {
    max-width: 1231px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.full-width {
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
}
.full-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.title {
    font-weight: 800;
    font-size: 1.8rem;
    font-family: $default-font;
    color: #757575;
    text-transform: uppercase;
    display: block;
    line-height: 1.1em;
    margin-bottom: 30px;
}
.hide {
    display: none;
}
.all-wrapp {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    position: relative;
    width: 100%;
}

@import "header";

/* ! == BLOCK TOP == */
.b-top {
    /*background-color: #5EA1D8;*/
    position: relative;
    .b-top__one {
        background-image: url("../img/bg/b_top.jpg");
    }
}
.b-top__text {
    position: relative;
    max-width: 300px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    height: 453px;
    padding: 20px 0;
    z-index: 1;
    .b-top__title {
        font-weight: 800;
        font-size: 3.6rem;
        color: #509794;
        text-transform: uppercase;
        display: block;
        line-height: 1.2em;
    }
    .b-top__desc {
        font-weight: 400;
        font-size: 1.6rem;
        color: #757575;
        display: block;
        line-height: 1.5em;
        margin-top: 18px;
    }
    .btn {
        margin-top: 25px;
    }
}
.btn {
    background-color: #77bcb9;
    font-weight: 800;
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 0 22px;
    @include link-transition();
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #64a4a1;
    }
}
.b-top__second {
    background: #509794;
}
.top-info {
    max-width: 1030px;
    padding: 35px 0 44px;
    margin: 0 auto;
    text-align: center;
    .top-info__title {
        font-weight: 700;
        font-size: 1.8rem;
        color: #fff;
    }
    .top-info__desc {
        font-weight: 400;
        font-size: 1.4rem;
        color: #fff;
        display: block;
        line-height: 1.45em;
        margin-top: 30px;
    }
}
@media screen and (max-width: 900px) {
    .b-top {
        .b-top__one {
            background-image: url("../img/bg/b_top-2.jpg");
        }
    }
}
@media screen and (max-width: 767px) {
    .top-info {
        padding: 32px 0;
        .top-info__desc {
            line-height: 1.35em;
            margin-top: 15px;
        }
    }
}
@media screen and (max-width: 600px) {
    .b-top {
        .b-top__one {
            background-image: url("../img/bg/b_top-3.jpg");
        }
    }
}
@media screen and (max-width: 575px) {
    .b-top__text {
        max-width: 180px;
        height: 272px;
        .b-top__title {
            font-size: 1.8rem;
            line-height: 1.2em;
        }
        .b-top__desc {
            font-size: 1.2rem;
            line-height: 1.25em;
            margin-top: 14px;
        }
        .btn {
            font-size: 1rem;
            height: 30px;
            line-height: 31px;
            padding: 0 10px;
            margin-top: 17px;
        }
    }
    .btn {
        font-size: 1.2rem;
        height: 40px;
        line-height: 40px;
    }
}
@media screen and (max-width: 460px) {
    .top-info {
        padding: 28px 0 27px;
        .top-info__title {
            font-size: 1.6rem;
        }
        .top-info__desc {
            br {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 360px) {
    .b-top {
        .b-top__one {
            background-image: url("../img/bg/b_top-4.jpg");
        }
    }
}
@media screen and (max-width: 350px) {
    .top-info {
        padding: 22px 0;
        .top-info__title {
            font-size: 1.5rem;
        }
        .top-info__desc {
            font-size: 1.2rem;
        }
    }
}

/* ! == SERVICE == */
.b-service {
    padding-top: 37px;
    .title {
        font-weight: 800;
        font-size: 1.8rem;
        font-family: $default-font;
        color: #757575;
        text-transform: uppercase;
        display: block;
        line-height: 1.1em;
        margin-bottom: 33px;
        text-align: center;
    }
}
.service-list {
    margin: 0 -7px;
    .col {
        padding: 0 7px;
    }
}
.item-service {
    .item-news__img {
        margin-bottom: 25px;
    }
    .item-service__title {
        font-weight: 700;
        font-size: 1.6rem;
        color: #757575;
        display: block;
        margin-bottom: 22px;
    }
    .item-service__desc {
        font-weight: 400;
        font-size: 1.4rem;
        color: #757575;
        display: block;
        line-height: 1.45em;
    }
}

@media screen and (min-width: 768px) and (max-width: 880px) {
    .service-list {
        margin: 0 -3px;
        .col {
            padding: 0 3px;
        }
    }
    .item-service {
        .item-news__img {
            margin-bottom: 15px;
        }
        .item-service__title {
            font-weight: 700;
            font-size: 1.4rem;
        }
        .item-service__desc {
            font-size: 1.3rem;
        }
    }
}
@media screen and (max-width: 767px) {
    .b-service {
        padding-top: 29px;
        .siteWidth {
            max-width: 600px;
        }
        .title {
            margin-bottom: 26px;
        }
    }
    .service-list {
        margin: 0 -15px;
        .col {
            flex-basis: 100%;
            -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            margin-bottom: 21px;
            padding: 0 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .item-service {
            text-align: center;
        }
    }
    .item-service {
        .item-news__img {
            margin-bottom: 19px;
        }
        .item-service__title {
            margin-bottom: 16px;
        }
        .item-service__desc {
            line-height: 1.3em;
        }
    }
}
@media screen and (max-width: 400px) {
    .b-service {
        padding-top: 22px;
        .title {
            font-size: 1.6rem;
            margin-bottom: 22px;
        }
    }
    .service-list {
        .col {
            padding: 0;
            margin-bottom: 23px;
        }
    }
    .item-service {
        .item-news__img {
            margin-bottom: 22px;
        }
        .item-service__text {
            padding: 0 15px;
        }
        .item-service__title {
            margin-bottom: 18px;
        }
        .item-service__desc {
            font-size: 1.2rem;
        }
    }
}
/*@media screen and (max-width: 355px) {
    .item-service {
        .item-service__text {
            padding: 0 10px;
        }
    }
}*/

/* ! == ADVANTAGES == */
.b-advantages {
    background: #77bcb9;
    padding: 41px 0 50px;
    margin-top: 45px;
    .title {
        font-weight: 700;
        font-size: 1.8rem;
        font-family: $default-font;
        color: #fff;
        text-transform: none;
        display: block;
        line-height: 1.1em;
        margin-bottom: 41px;
        text-align: center;
    }
}
.item-advantages {
    text-align: center;
    .item-advantages__img {
        height: 76px;
        margin-bottom: 38px;
    }
    /*.item-advantages__text {
        padding: 0 10px;
    }*/
    .item-advantages__title {
        font-weight: 700;
        font-size: 1.4rem;
        color: #fff;
        text-transform: uppercase;
        display: block;
        line-height: 1.1em;
        margin-bottom: 22px;
    }
    .item-advantages__desc {
        font-weight: 400;
        font-size: 1.4rem;
        color: #fff;
        display: block;
        line-height: 1.45em;
    }
}
@media screen and (min-width: 768px) and (max-width: 880px) {
    .item-advantages {
        .item-advantages__title {
            font-size: 1.3rem;
        }
        .item-advantages__desc {
            font-size: 1.3rem;
        }
    }
}
@media screen and (max-width: 767px) {
    .b-advantages {
        padding: 33px 0 36px;
        margin-top: 28px;
        .siteWidth {
            max-width: 630px;
        }
        .title {
            margin-bottom: 32px;
        }
    }
    .list-advantages {
        .col {
            flex-basis: 100%;
            -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            margin-bottom: 26px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (min-width: 461px) and (max-width: 767px) {
    .item-advantages {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        text-align: left;
        .item-advantages__img, .item-advantages__text {
            -ms-flex-preferred-size: 0;
            -webkit-flex-basis: 0;
            flex-basis: 0;
            max-width: 100%;
            -ms-flex-positive: 1;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            flex-grow: 1;
        }
        .item-advantages__img {
            flex-basis: 77px;
            -webkit-flex-basis: 77px;
            -ms-flex-preferred-size: 77px;
            max-width: 77px;
            margin: 0;
        }
        .item-advantages__text {
            padding-left: 20px;
        }
        .item-advantages__title {
            margin-bottom: 18px;
        }
        .item-advantages__desc {
            line-height: 1.25em;
        }
    }
}
@media screen and (max-width: 460px) {
    .b-advantages {
        padding: 23px 0 31px;
        margin-top: 25px;
        .title {
            font-size: 1.6rem;
            line-height: 1.2em;
            margin-bottom: 23px;
        }
    }
    .list-advantages .col {
        margin-bottom: 20px;
    }
    .item-advantages {
        .item-advantages__img {
            height: auto;
            margin-bottom: 23px;
        }
        .item-advantages__title {
            margin-bottom: 14px;
        }
        .item-advantages__desc {
            font-size: 1.2rem;
            line-height: 1.25em;
        }
    }
}

/* ! == PARTNERS == */
.b-partner {
    padding: 50px 0 0;
    .title {
        font-weight: 800;
        font-size: 1.8rem;
        font-family: $default-font;
        color: #757575;
        text-transform: uppercase;
        display: block;
        line-height: 1.1em;
        margin-bottom: 54px;
        text-align: center;
    }
}
.list-partner {
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    .col {
        flex-basis: 20%;
        -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
        max-width: 20%;
        margin-bottom: 50px;
    }
}
.item-partner {
    text-align: center;
    img {
        display: inline-block;
    }
}
@media screen and (max-width: 640px) {
    .b-partner {
        padding: 31px 0 8px;
        .title {
            margin-bottom: 29px;
        }
    }
    .list-partner {
        .col {
            margin-bottom: 25px;
        }
        .col:nth-child(7), .col:nth-child(9), .col:nth-child(10) {
            /*flex-basis: 95px;
            -webkit-flex-basis: 95px;
            -ms-flex-preferred-size: 95px;
            max-width: 95px;*/
            img {
                width: 65px;
            }
        }
    }
}
@media screen and (max-width: 460px) {
    .b-partner {
        padding: 27px 0 6px;
        .title {
            font-size: 1.6rem;
            margin-bottom: 32px;
        }
    }
    .list-partner {
        .col {
            flex-basis: 25%;
            -webkit-flex-basis: 25%;
            -ms-flex-preferred-size: 25%;
            max-width: 25%;
            margin-bottom: 28px;
        }
        .col:nth-child(5), .col:nth-child(10) {
            display: none;
        }
    }
}
@media screen and (max-width: 380px) {
    .list-partner {
        .col {
            flex-basis: 33.3333%;
            -webkit-flex-basis: 33.3333%;
            -ms-flex-preferred-size: 33.3333%;
            max-width: 33.3333%;
        }
        .col:nth-child(1), .col:nth-child(6) {
            display: none;
        }
    }
}

/* ! == REVIEWS ==*/
.sectionReviews {
    background: #f9fafb;
    padding: 66px 0 71px;

}
.reviews {
    padding: 0 210px;
    .slick-track {
        margin: 0 -15px;
    }
    .slick-slide {
        padding: 0 15px;
    }
}
.slick-arrow {
    background-color: #77bcb9;
    font-size: 0;
    line-height: 0;
    position: absolute;
    /*display: block;*/
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    width: 40px;
    height: 40px;
    padding: 0;
    top: 50%;
    margin-top: -20px;
    text-align: center;
    cursor: pointer;
    color: transparent;
    outline: none;
    @extend %all-transition;
    z-index: 2;
    border: none;
    @include link-transition();
    &:hover {
        background: #4e8d8a;
    }
    &:before {
        /*background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 26px;
        height: 44px;*/
        position: relative;
        display: inline-block;
        content: '';
    }
}
.slick-prev {
    left: 0;
    &:before {
        @include sprite($s-prev_1);
    }
}
.slick-next {
    right: 0;
    &:before {
        @include sprite($s-next_1);
    }
}
.item-review {
    .item-review__wrapp {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    }
    .item-review__img, .item-review__text {
        -ms-flex-preferred-size: 0;
        -webkit-flex-basis: 0;
        flex-basis: 0;
        max-width: 100%;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
    .item-review__img {
        flex-basis: 140px;
        -webkit-flex-basis: 140px;
        -ms-flex-preferred-size: 140px;
        max-width: 140px;
        border-radius: 50%;
        overflow: hidden;
        img {
            display: inline-block;
            border-radius: 50%;
        }
    }
    .item-review__text {
        padding-left: 48px;
        p {
            font-style: italic;
            font-weight: 400;
            font-size: 1.4rem;
            color: #757575;
            line-height: 1.45em;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .reviews {
        padding: 0 140px;
    }
}
@media screen and (max-width: 1100px) {
    .reviews {
        padding: 0 70px;
    }
}
@media screen and (max-width: 991px) {
    .item-review {
        .item-review__text {
            padding-left: 22px;
            p {
                font-size: 1.2rem;
                line-height: 1.4em;
                margin-bottom: 16px;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .item-review {
        .item-review__img {
            flex-basis: 100px;
            -webkit-flex-basis: 100px;
            -ms-flex-preferred-size: 100px;
            max-width: 100px;
        }
    }
}
@media screen and (max-width: 767px) {
    .sectionReviews {
        padding: 46px 0 37px;
    }
    .reviews {
        .slick-track {
            margin: 0;
            .slick-slide {
                padding: 0;
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .reviews {
        padding: 0 0 65px;
    }
    .slick-arrow {
        top: auto;
        margin-top: 0;
        bottom: 0;
    }
    .slick-prev {
        left: 163px;
    }
    .slick-next {
        right: auto;
        left: 209px;
    }
}
@media screen and (max-width: 575px) {
    .sectionReviews {
        padding: 30px 0 27px;
    }
    .reviews {
        padding: 0;
        .slick-arrow {
            top: 48px;
            margin-top: 0;
        }
    }
    .item-review {
        text-align: center;
        .item-review__wrapp {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .item-review__img {
            margin-bottom: 32px;
        }
        .item-review__text {
            flex-basis: 100%;
            -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            padding-left: 0;
        }
    }
}

/* ! == VACANCY == */
.b-vacancy {
    background: #509794;
    padding: 45px 0 69px;
    .title {
        font-weight: 800;
        font-size: 1.8rem;
        font-family: $default-font;
        color: #fff;
        text-transform: uppercase;
        display: block;
        line-height: 1.1em;
        margin-bottom: 41px;
        text-align: center;
    }
}
.list-vacancy {
    margin: 0 -7px;
    .col {
        padding: 0 7px;
    }
}
.item-vacancy {
    background: #fff;
    height: 100%;
    padding: 53px 28px 45px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    .item-vacancy__header {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        margin-bottom: 17px;
        .item-vacancy__img, .item-vacancy__name {
            -ms-flex-preferred-size: 0;
            -webkit-flex-basis: 0;
            flex-basis: 0;
            max-width: 100%;
            -ms-flex-positive: 1;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            flex-grow: 1;
        }
        .item-vacancy__img {
            flex-basis: 52px;
            -webkit-flex-basis: 52px;
            -ms-flex-preferred-size: 52px;
            max-width: 52px;
        }
        .item-vacancy__name {
            padding-left: 21px;
        }
    }
    .item-vacancy__title {
        font-weight: 700;
        font-size: 1.8rem;
        color: #767676;
        display: inline-block;
        line-height: 1.15em;
    }
    .item-vacancy__work {
        font-weight: 400;
        font-size: 1.4rem;
        color: #509794;
        display: inline-block;
    }
    .item-vacancy__list {
        padding-top: 26px;
        li {
            font-weight: 400;
            font-size: 1.4rem;
            color: #767676;
            line-height: 1.1em;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .item-vacancy__button {
        padding-top: 45px;
    }
    .read-more {
        font-weight: 400;
        font-size: 1.4rem;
        color: #509794;
        position: relative;
        display: inline-block;
        line-height: 1em;
        @include link-transition();
        &:after {
            background: #377875;
            @include pseudo();
            width: calc(100% - 16px);
            height: 1px;
            bottom: 0;
            left: 0;
            @include scale-x();
            transform-origin: left center;
            @include all-transition();
        }
        .read-more__arrow {
            font-weight: 400;
            font-size: 2rem;
            display: inline-block;
            vertical-align: middle;
            margin-left: 7px;
        }
        &:hover {
            /*font-weight: 500;*/
            color: #377875;
            border-bottom-color: #377875;
            &:after {
                @include scale-x-hover();
            }
        }
    }
}
@media screen and (min-width: 841px) and (max-width: 991px) {
    .list-vacancy {
        margin: 0 -4px;
        .col {
            padding: 0 4px;
        }
    }
    .item-vacancy {
        padding: 53px 15px 45px;
        .item-vacancy__header {
            .item-vacancy__name {
                padding-left: 12px;
            }
        }
        .item-vacancy__title {
            font-size: 1.5rem;
        }
        .item-vacancy__list li {
            font-size: 1.2rem;
        }
    }
}
@media screen and (max-width: 840px) {
    .b-vacancy {
        padding: 32px 0 40px;
        .title {
            margin-bottom: 27px;
        }
    }
    .list-vacancy {
        .col {
            flex-basis: 100%;
            -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .item-vacancy {
        padding: 34px 28px 29px 30px;
    }
}
@media screen and (min-width: 576px) and (max-width: 840px) {
    .item-vacancy {
        .item-vacancy__name {
            .hide {
                display: block;
                margin-top: 18px;
            }
        }
        .item-vacancy__list {
            padding-top: 8px;
        }
        .item-vacancy__button {
            padding-top: 20px;
        }
        .item-vacancy__content {
            .item-vacancy__work {
                display: none;
            }
        }
        .item-vacancy__list li {
            display: inline-block;
        }
    }
}
@media screen and (max-width: 575px) {
    .b-vacancy {
        padding: 28px 0 34px;
        .title {
            font-size: 1.6rem;
            margin-bottom: 22px;
        }
    }
    .item-vacancy {
        padding: 25px 10px 29px 20px;
        .item-vacancy__header {
            margin-bottom: 13px;
            .item-vacancy__name {
                padding-left: 18px;
            }
        }
    }
}
@media screen and (max-width: 350px) {
    .item-vacancy {
        .item-vacancy__header {
            .item-vacancy__name {
                padding-left: 15px;
            }
        }
        .item-vacancy__title {
            font-size: 1.6rem;
        }
        .item-vacancy__list li {
            font-size: 1.2rem;
        }
    }
}

/* ! == CONTACT ==*/
.sectionContact {
    background: #f9fafb;
    padding: 40px 0;
}
.box-map {
    position: relative;
    height: 100%;
    #map {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.map-contact {
    flex-basis: 32.94%;
    -webkit-flex-basis: 32.94%;
    -ms-flex-preferred-size: 32.94%;
    max-width: 32.94%;
    .map-contact__wrapp {
        padding: 10px 10px 0 0;
    }
    .title {
        font-weight: 700;
        font-size: 1.8rem;
        font-family: $default-font;
        color: #509794;
        text-transform: none;
        display: block;
        line-height: 1;
        margin-bottom: 25px;
    }
    .btn--map {
        padding: 0 28px;
        margin-top: 33px;
    }
}
.b-contact {
    .b-contact__item--address {
        &:before {
            @include sprite($s-address);
            top: 2px;
            margin-top: 0;
        }
    }
}
.b-contact--map {
    line-height: 1.75em;
    .b-contact__link {
        font-size: 1.4rem;
        padding-left: 38px;
    }
    br {
        display: block;
        line-height: 0;
    }
    .b-contact__item--tel {
        font-weight: 700;
    }
    .b-contact__item--address {
        margin-top: 12px;
        &:before {
            top: 5px;
        }
    }
}
@media screen and (max-width: 900px) {
    .map-contact {
        flex-basis: 270px;
        -webkit-flex-basis: 270px;
        -ms-flex-preferred-size: 270px;
        max-width: 270px;
        padding-right: 0;
    }
}
@media screen and (max-width: 767px) {
    .sectionContact {
        padding: 32px 0 37px;
    }
    .map-contact {
        .map-contact__wrapp {
            padding: 6px 5px 0 0;
        }
    }
}
@media screen and (max-width: 575px) {
    .sectionContact {
        padding: 25px 0 0;
    }
    .map-contact {
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        max-width: 100%;
        padding-right: 15px;
        margin-bottom: 32px;
        .map-contact__wrapp {
            padding: 0;
        }
        .btn--map {
            font-size: 1.2rem;
            padding: 0 20px;
            margin-top: 16px;
        }
    }
    .box-map {
        height: 244px;
        margin: 0 -15px;
    }
}

@import "form";
@import "footer";
@import "modal";
